<div class="container my-4 py-5">
  <h3 class="text-center mb-5"><strong>本当に退会しますか？</strong></h3>
  <h4 class="text-center">退会すると、会員情報や</br>
      これまでの購入履歴が閲覧できなくなります。</br>
      退会する場合は、「退会する」をクリックしてください。</h4>

  <div class="d-flex justify-content-center mt-5">
     <%= link_to "退会しない", customer_path, class: "btn bg-dark-brown col-2 mr-5" %>
     <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-outline-danger col-2" %>
   </div>


</div>