<div class="container my-4">
  <div class="row justify-content-between">
    <div class="col-xs-12">
      <h3 class="bg-orange d-inline-block px-4 mx-5 mb-3">商品一覧</h3>
    </div>
    <div>
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus" style="color:green;"></i>
        <i class="text-dark">新規商品登録</i>
      <% end %>
    </div>
    
  </div>
  
  <div class="row">  
    <div class="col-lg-10 mx-auto">
      <%= render "item_list", items: @items %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @items %>
    </div>
  </div>
</div>