<div class="container">
  <%= render "layouts/error_messages", model: @item%>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="bg-orange d-inline-block px-4 mx-5 mb-3">新規商品登録</h3>
    </div>
  </div>
  <div class="col-lg-8 mx-auto">
    <%= form_with model: @item,url: admin_items_path, method: :post, local: :true do |f| %>
      <%= render "form_item", f: f %>
      <div class="text-center">
  	  <%= f.submit "新規登録", class: "btn bg-orange-dark btn-lg" %>
  	  </div>
    <% end %>
  </div>
</div>