<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="display-4 text-center orange">
        <strong>About</strong>
      </div>
      <h5 class="text-center mt-2 dark-brown">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </h5>
      <%= image_tag "/assets/aboutcake.jpg", size: "600x400", class: "mx-auto d-block my-3" %>
    </div>
  </div>
</div>