<div class="container">
  <div class="row">
    <div class="col-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">
              ジャンル検索
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              ジャンルが入ります。
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-9">
      <div style="background:url(/assets/aboutcake.jpg); background-size:cover; height:300px;">
        <div  style="background-color: rgba(255,255,255,0.5); height: 300px;">
          <p class="text-center" style="">
            ようこそ！、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>