    <div class="col-2">
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="bg-dark-brown">
            <th class="text-center">
              ジャンル検索
            </th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr class="bg-light-brown">
              <td style="border:none;">
                <%= link_to genre.name, search_items_path(genre.id), method: :get,class: "text-dark" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>